@import "assets/scss/global/_vars";

.section-1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 96px;

  .text-side {
    .title {
      position: relative;
      width: 907px;
      margin: 0 0 146.5px;
      transform: translateX(-3px) translateY(-5px);
      font-weight: 800;
      font-size: 82px;
      line-height: 130%;
      letter-spacing: 0.003em;
      text-transform: uppercase;

      &.part-2 {
        letter-spacing: 0.001em;
        line-height: 134%;
      }
    }

    .list {
      line-height: 185%;
      letter-spacing: 0.0035em;
    }
  }

  .pic-side {
    position: relative;
    flex-shrink: 0;
    z-index: 1;
    transform: translateX(3px) translateY(1px);
    margin: 9.5px 0 0 0;
    
    .image {
      width: 737px;
      height: 678px;
    }
  }
}

.decore-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1020px;
  height: 251px;
  background: $color-primary;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2000px;
    background: $color-primary;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -80px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 252px;
    border-bottom-width: 0px;
    border-right: 80px solid $color-primary;
  }
}