@import "assets/scss/global/_vars";

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 488px;
  grid-column-gap: 75px;
  grid-row-gap: 35px;
}

.block {
  position: relative;
  background: $color-primary;

  .image {
    position: absolute;
  }
}

.block-1 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 680px;

  .image {
    left: 0;
    bottom: 0;
    width: 465px;
    height: 605px;
  }
}

.block-2 {
  height: 492px;

  .image {
    right: 0;
    bottom: 37px;
    width: 501px;
    height: 380px;
  }
}

.block-3 {
  height: 492px;

  .image {
    right: 0;
    bottom: 0;
    width: 467px;
    height: 438px;
  }
}

.block-4 {
  grid-column-start: 2;
  grid-column-end: 4;
  height: 488px;

  .desc {
    transform: translateX(-1px);
    letter-spacing: 0.0045em;
    line-height: 160%;
  }

  .title {
    transform: translateX(-1px);
    width: calc(100% + 13px);
    margin-top: 26px;
    font-weight: 800;
    font-size: 48.85px;
    letter-spacing: 0.0053em;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.r {
  font-size: 10px;
  font-weight: 400;
}