@import "assets/scss/global/_vars";

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  transform: translateX(-2px);
  letter-spacing: 0.005em;
}

.menu {
  display: flex;
  transform: translateX(-7px);

  .item {
    margin-right: 55px;

    &:last-child {
      margin-right: 0;
    }
  }

  .link {
    color: $color-base;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
  }
}

.btn {
  &--header {
    width: 170px;
  }
}

.r {
  font-size: 5px;
}